@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 30, 30, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.halo {
  box-shadow: 
  rgba(255, 235, 200, 0.1) 0px 1px 1px 0px inset, 
  rgba(55, 113, 155, 0.25) 0px 10px 40px 0px, 
  rgba(199, 70, 240, 0.1) 0px 60px 100px -10px, 
  rgba(255, 195, 100, 0.5) 0px 10px 80px -5px;
}

.halo-text {
  text-shadow: 
  0px 10px 40px rgba(55, 113, 155, 0.5), 
  0px 60px 80px rgba(199, 70, 240, 0.5), 
  0px 10px 60px rgba(255, 195, 100, 0.6);
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-in-up {
  animation: animateInUp 0.3s ease 0.15s both;
}

@keyframes animateInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}

.animate-in-down {
  animation: animateInDown 0.3s ease 0.15s both;
}

@keyframes animateInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}