@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 22, 20, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 60%,
      transparent 100%
    )
    rgb(var(--background-start-rgb));
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 800px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

.halo {
  box-shadow: 
  rgba(55, 113, 155, 0.1) 0px 10px 40px 0px, 
  rgba(199, 70, 240, 0.05) 0px 20px 200px 0px, 
  rgba(255, 195, 100, 0.1) 0px 30px 80px 0px;
}

.halo-text {
  text-shadow: 
  0px 20px 80px rgba(255, 195, 100, 0.6),
  0px 60px 40px rgba(55, 113, 155, 0.25), 
  0px 120px 400px rgba(199, 70, 240, 0.35);
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-in-up {
  animation: animateInUp 0.3s ease 0.15s both;
}

@keyframes animateInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
  }
}

.animate-in-down {
  animation: animateInDown 0.3s ease 0.15s both;
}

@keyframes animateInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
  }
}